{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    {% if stocks|length == 0 %}
        You have no buy history.
    {% else %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Transacted</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock['symbol'] }}</td>
                    <td>{{ stock['ns'] }}</td>
                    <td>{{ "{:.2f}".format(stock['price']) }}</td>
                    <td>{{ stock['time'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}