{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
    <tr val-type="stock">
        <td col-type="symbol">{{ stock['symbol'] }}</td>
        <td col-type="company_name">{{ stock['name'] }}</td>
        <td col_type="num_shares">{{ stock['ns'] }}</td>
        <td col-type="curr_val_per_share">{{ "{:.2f}".format(stock['price']) }}</td>
        <td col-type="curr_val_shares">{{ "{:.2f}".format(stock['partial_total']) }}</td>
    </tr>
    {% endfor %}
    <tr val-type="cash">
        <td>CASH</td>
        <td></td>
        <td></td>
        <td></td>
        <td col-type="curr_cash_value">{{ "{:.2f}".format(cash) }}</td>
    </tr>
    <tr val-type="portfolio_value">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td col-type="portfolio_value">{{ "{:.2f}".format(position) }}</td>
    </tr>
    </tbody>

</table>
{% endblock %}