{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
            <label id="password" style="visible: none;"></label>
        </div>
        <div class="form-group">
            <input class="form-control" name="repeat_password" placeholder="Repeat Password" type="password">
            <label id="repeat_password" style="visible: none;"></label>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}