{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    {% if symbols|length == 0 %}
        You have nothing to sell.
    {% else %}

            <!--form with select involving symbols-->
        <form action="/sell" method="post">
            <div class="form-group">
                <select name="symbol">
                    {% for symbol in symbols %}
                        <option value="{{ symbol['symbol'] }}">{{ symbol['symbol'] }}</option>
                    {% endfor%}
                </select>
            </div>
            <div class="form-group">
                <input class="form-control" name="qty" placeholder="Quantity" type="number">
            </div>
           <button class="btn btn-primary" type="submit">Sell</button>
        </form>
    {% endif%}
{% endblock %}
